@model IEnumerable<DeclutterHub.Models.Category>
@{
    ViewData["Title"] = "Home Page";
}
@await Component.InvokeAsync("CategoryCarousel", new { categories = Model })

@if (Model.Any())
{
    <div class="container">
        <div class="row">
            @foreach (var category in Model)
            {
                <div class="col-md-4">
                    <div class="category">
                        <a href="@Url.Action("ItemsByCategory", "Items", new { categoryId = category.Id })">
                            <div class="image-container">
                                <img src="@category.ImageUrl" alt="@category.Name" />
                            </div>
                            <h2>@category.Name</h2>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>No categories to display.</p>
}






