
@{
    ViewData["Title"] = "Default";
}

@model IEnumerable<dynamic> 

<select class="form-select" id="categoryDropdown">
    <option value="">--Select Categories--</option>
    @foreach (var category in Model)
    {
        <option value="@category.Id">@Html.Encode(category.Name)</option>
    }
</select>


